<div class="row">
    <div class="col-sm-9">

        <h1><%= @restaurant[:restaurant_name] %></h1>
        <p><%= @restaurant[:adress] %></p>



        <h6>Taste: <%= @taste %> out of 5</h6>
        <h6>Cleanliness: <%= @cleanliness %> out of 5</h6>
        <h6>Waiting time: <%= @waiting_time %> out of 5</h6>
        <h6>Staff: <%= @staff %> out of 5</h6>
        <h6>Average of <%= @price %> dolars per person</h6>
 
       
        <a href="/restaurants/<%= @restaurant[:id] %>/review/new" class="btn btn-primary">Review now!</a>
 
       <a href="/reviews/<%= @restaurant[:id] %>/edit">(edit</a> | <a href="/reviews/<%= @restaurant[:id] %>/destroy">delete</a>)
                        
        <p></p>
       <h6>Comments:</h6>
        <% for review in @reviews %>
        <h3>
        <%= @users_table.where(id: 1).to_a[0][:user_name] %>
        </h3>
        <p>
            <%= review[:comments] %>
        </p>
        <%end %>



        
 
    </div>
</div>