<div class="row">
    <div class="col-sm-9">

        <h1><%= @restaurant[:restaurant_name] %></h1>
        <p><%= @restaurant[:adress] %></p>



        <h6>Taste: <%= @taste %> out of 5</h6>
        <h6>Cleanliness: <%= @cleanliness %> out of 5</h6>
        <h6>Waiting time: <%= @waiting_time %> out of 5</h6>
        <h6>Staff: <%= @staff %> out of 5</h6>
        <h6>Average of <%= @price %> dolars per person</h6>

    </div>
</div>